pandas
matplotlib
plotly
numpy
pyspark
python-dateutil
requests
pymongo
scipy
statsmodels
scikit-learn
Pillow
plotly
streamlit
folium==0.20.0
streamlit-folium==0.25.3
./streamlit/utils
./streamlit/project4/utils

